.smd-fab {
  @include trans;
  transition-property: all;
  bottom             : 1rem;
  opacity            : 1;
  position           : absolute;
  visibility         : visible;
  z-index            : 5;

  &--hidden {
    visibility: hidden;
    opacity   : 0;
  }

  &--left {
    left: 1rem;
  }

  &--right {
    left: calc(100% - 4.5rem);
  }

  &--mini.smd-fab--left {
    bottom: 1.5rem;
    left  : 1.5rem;
  }

  &--mini.smd-fab--right {
    bottom: 1.5rem;
    left  : calc(100% - 4rem);
  }
}
