.smd-header {
  //background: unquote("rgb(#{$color-primary;})");
  background: blue;
  color: white;
  padding: 10rem 2rem 3rem;
  position: relative;
  &__title {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
  }
  &__back {
    position: absolute;
    left: 2rem;
    top: 2rem;
  }
  &__search,
  &__mini-search {
    bottom: 3rem;
    position: absolute;
    right: 2rem;
  }
  &__search {
    margin: 0 .75rem;
  }
  &__mini-search {
    margin: 0 .25rem;
  }
  &__fab {
    bottom: -1.75rem;
    left: 2rem;
    position: absolute;
    &--right {
      left: auto;
      right: 2rem;
    }
  }
  &__mini-fab {
    position: absolute;
    bottom: -1.25rem;
    left: 2rem;
    &--right {
      left: auto;
      right: 2rem;
    }
  }
}
