/*
.smd-header {
  transform: translate3d(0,0,0); // smooth transitions on safari
  @include mq ("tablet", "max") {
    &__title {
      font-size: 1.875rem;
    }

    &--minimized &__title {
      font-size: 1.25rem;
    }
  }
}
*/
$smd-header-title-font-size: 2.5rem;
$smd-header-title-font-size--minimized: 1.875rem;
$smd-header-title-font-size--mobile: 1.5rem;
$smd-header-title-font-size--mobile-minimized: 1.25rem;

.smd-header {
    background: unquote("rgb(#{$color-primary;})");
    color     : white;
    padding   : 0;
    position  : relative;

    &__cover-image {
        position           : absolute;
        top                : 0;
        left               : 0;
        width              : 100%;
        height             : 100%;
        background-repeat  : no-repeat;
        background-size    : cover;
        background-position: center center;
        opacity            : 0.8;
    }

    &__title {
        @include trans;
        @include truncate;
        font-size       : $smd-header-title-font-size--mobile;
        font-weight     : 400;
        margin          : 0;
        min-width       : 0;
        transform-origin: left center;
        @include mq(tablet) {
            font-size: $smd-header-title-font-size;
        }
    }

    &__toolbar {
        position      : relative;
        height        : 4rem;
        padding       : 0 1rem;
        display       : flex;
        flex-direction: row;
        align-items   : center;

        &--top {
            flex: 1;
        }

        &--middle {}

        &--bottom {
            @include truncate;
        }
    }

    &__action {
        @include trans;
        height: 2.5rem;
        width : 2.5rem;

        &--back-max {
            opacity   : 1;
            visibility: visible;
        }

        &--back-min {
            opacity   : 0;
            visibility: hidden;
        }
    }

    &__fab {
        bottom  : -1.75rem;
        left    : 0.5rem;
        position: absolute;
        z-index : 2;

        &--right {
            left : auto;
            right: 0.5rem;
        }
    }

    &__mini-fab {
        position: absolute;
        bottom  : -1.25rem;
        left    : 1rem;

        &--right {
            left : auto;
            right: 1rem;
        }
    }
    /*
     * Rules for a minimized header
     */
    &--minimized {
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        padding        : 0 1rem;
        flex-wrap      : nowrap;

        .smd-header__toolbar {
            padding: 0;

            &--top {
                order: 3;
                flex : 1;
            }

            &--middle {
                order: 2;
            }

            &--bottom {
                min-width: 2rem;
                order    : 1;
            }
        }

        .smd-header__action--back-max {
            opacity   : 0;
            visibility: hidden;
            display   : none;
        }

        .smd-header__action--back-min {
            opacity   : 1;
            visibility: visible;
        }

        .smd-header__title {
            font-size: $smd-header-title-font-size--mobile-minimized;
            @include mq(tablet) {
                font-size: $smd-header-title-font-size--minimized;
            }
        }
    }

    &--minimized.smd-header--with-fab &__toolbar--bottom {
        bottom: 1.75rem;
    }

    &--minimized.smd-header--with-mini-fab &__toolbar--bottom {
        bottom: 1.25;
    }
    /*
     * Rules for a header with active search
     */
    /*&--searching.smd-header--minimized {
        //
        .smd-header__title {
            width: 0;
            @include mq(desktop) {
                width: 100%;
            }
        }
    }*/
    /*
     * Rules for header with fab
     */
    &--with-fab {
        padding-bottom: 1.75rem;
        //margin-bottom : 1.75rem;
    }

    &--with-mini-fab {
        padding-bottom: 1.25rem;
        //margin-bottom : 1.25rem;
    }
    // -------------------------
    // --- Transition Header ---
    // -------------------------
    &--transition {
        position  : relative;
        min-height: 4rem;
        z-index   : 10;
    }

    &--transition &__toolbar {
        position: absolute;
        width   : 100%;
    }

    &--transition &__toolbar--top {
        position: relative;
    }

    &--transition &__toolbar--middle {
        top: 0;
    }

    &--transition &__toolbar--bottom {
        bottom: 0;
    }

    &--transition.smd-header--with-mini-fab .smd-header__toolbar--bottom {
        bottom: 1.25;
    }

    &--with-fab.smd-header--transition {
        min-height: 5.75rem;
    }

    &--with-fab.smd-header--transition &__toolbar--bottom {
        bottom: 1.75rem;
    }
    // --------------------
    // --- Fixed Header ---
    // --------------------
    &--fixed {
        position: fixed;
        top     : 0;
        left    : 0;
        right   : 0;
        z-index : 10;
    }

    &--fixed &__toolbar--bottom {
        //bottom: 1.75rem;
        top: 0;
    }

    &--fixed &__toolbar--bottom {
        //bottom: 1.75rem;
        top: 0;
    }
}
