.smd-navbar {
    background-color: $c-primary-dark;

    .mdl-navigation {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
}
@media screen and (max-width: 1024px) {
    .mdl-navigation {
        display: block;
    }

    .smd-navbar .mdl-navigation {
        display: none;
    }
}
