$list-action-color: unquote("rgb(#{$palette-grey-500})");
$list-border-color: unquote("rgb(#{$palette-grey-300})");
$list-item-hover: unquote("rgb(#{$palette-grey-100})");
$list-meta-color: unquote("rgba(#{$color-black}, 0.54)");

.smd-list {
  margin : 0 0 2rem;
  padding: 0;

  &--border {
    border-top: 1px solid $list-border-color;
  }
}

.smd-item {
  @include trans;
  list-style: none;
  margin    : 0;
  overflow  : auto;
  padding   : 0.5rem 4rem;
  position  : relative;
  cursor    : pointer;

  &:focus,
  &:hover {
    background-color: $list-item-hover;
  }

  &--border {
    border-bottom: 1px solid $list-border-color;
  }

  &--no-left {
    padding-left: 0.5rem;
  }

  &--no-right {
    padding-right: 0.5rem;
  }

  &__column {
    min-height: 3.5rem;

    &--left,
    &--right {
      //background-color: hotpink;
      position: absolute;
      top     : 0.5rem;
      width   : 3.5rem;
    }

    &--left {
      left: 0.5rem;
    }

    &--middle {
      padding: 0.5rem;
    }

    &--right {
      right: 0.5rem;
    }

    &--avatar {
      padding: 0.5rem;
    }

    &--action {}
  }

  &__avatar {
    width: 100%;

    &--round {
      border-radius: 100%;
    }
  }

  &__avatar-text {
    background-color: $list-action-color;
    color           : white;
    display         : block;
    line-height     : 2.5rem;
    text-align      : center;
    width           : 100%;

    &--round {
      border-radius: 100%;
    }

    &--length-1 {
      font-size: 1.5rem;
    }

    &--length-2 {
      font-size: 1.25rem;
    }

    &--length-3 {
      font-size: 1rem;
    }

    &--length-4 {
      font-size: 0.75rem;
    }

    &--primary {
      background-color: $c-primary;
    }

    &--accent {
      background-color: $c-accent;
    }
  }

  &__icon {
    color : $list-action-color;
    margin: 0.5rem;

    &--round {
      $size           : 2.5rem;
      color           : white;
      border-radius   : 100%;
      background-color: $list-action-color;
      height          : $size;
      margin          : 0;
      line-height     : $size!important;
      text-align      : center;
      width           : $size;
    }
  }

  &__title {
    @include truncate;
    font-size  : 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin     : 0;

    &--with-subtitle {
      line-height: 1;
    }

    &--solo {
      line-height: 2.5rem;
    }
  }

  &__sub-title {
    @include truncate;
    font-size  : 0.875rem;
    font-weight: 400;
    line-height: 1;
    margin     : 0.25rem 0;
  }

  &__meta {
    @include truncate;
    color      : $list-meta-color;
    margin     : 0;
    line-height: 1rem;
    font-size  : 0.875rem;

    &--two-lines {
      display           : -webkit-box;
      white-space       : normal;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &--with-subtitle {
      //line-height: 1;
    }

    strong {
      color: $text-color-primary;
    }
  }

  &__action {
    color : $list-action-color;
    margin: 0.75rem;

    &--labeled {
      margin: -0.5rem 0.75rem 0;
    }
  }

  &__label {
    @include truncate;
    font-size  : $input-text-floating-label-fontsize;
    color      : $list-action-color;
    display    : block;
    line-height: 1.5rem;
    text-align : center;
    margin-top : 0.5rem;
  }
}
