body,
html {
    height   : 100%;
    font-size: 100%;
    padding  : 0;
    margin   : 0;
}

* {
    box-sizing: border-box;
}

body > {
    min-width: 20rem;

    .ember-view {
        height: 100%;
    }
}

[data-ember-action]:not(:disabled) {
    cursor: pointer;
}
