@mixin truncate(/*$truncation-boundary*/) {
    //max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin hidden {
	display: none;
  opacity: 0;
	visibility: hidden;
}

@mixin visible($state: 'block') {
	display: unquote($state);
  opacity: 1;
	visibility: visible;
}
