@import "sauce-material-design.scss";

body, html {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0px;
}

.styleguide__demo {
}

.styleguide__title {
  font-size: $font-size-display-1;
  line-height: 1;
    margin: 2rem 1rem 1rem;
}

.styleguide__subtitle {
  font-size: $font-size-headline;
  line-height: 1;
  margin: 1rem;
}

.styleguide__preview {
  margin-bottom: 4rem;
}



.mdl-styleguide .mdl-layout__drawer .mdl-navigation__link {
  padding: 10px 24px;
}
